Package: com.megadev.sentinel
Name: Sentinel
Depends: mobilesubstrate, ws.hbang.common, preferenceloader, com.opa334.ccsupport
Version: 1.4
Architecture: iphoneos-arm
Description: Stop losing your jailbreak when your battery dies!
Maintainer: Uckermark
Author: MegaDev
Section: Tweaks
